@tailwind base;
@tailwind components;
@tailwind utilities;
@reference "tailwindcss";

:root {
  --text-primary: rgba(0, 0, 0, 0.87);
  --text-secondary: rgba(0, 0, 0, 0.54);
  --background-color: #cfdaff;
  color: var(--text-primary) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", ui-sans-serif, system-ui, sans-serif;
}

label {
  @apply text-sm mb-1 text-gray-500 block;
  display: block;
}

input,
select {
  @apply w-full h-[48px] outline-none border border-gray-200 rounded-xl px-4 text-base font-semibold cursor-pointer transition-all duration-300 flex items-center justify-center;

  &:focus {
    @apply border-blue-400;
  }
}

select {
  padding-left: 16px !important;
  box-sizing: border-box;
  background-color: white;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:focus {
  outline: none;
  @apply border-blue-800;
}

select::-ms-expand {
  display: none;
}

button {
  @apply h-12 rounded-full px-6 text-base font-semibold cursor-pointer transition-all duration-300 border-none flex items-center justify-center;

  &:hover {
    @apply transform -translate-y-2;
  }

  &:disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}

.btn--primary {
  @apply bg-blue-800 text-white;
  color: white;
}

.btn--outline {
  @apply bg-white text-blue-800 border border-blue-400;
}

.btn--reset {
  @apply w-auto h-auto p-0 bg-transparent border-none text-2xl leading-none cursor-pointer;
}

@media screen and (max-width: 768px) {
}
